<h1>Edit product</h1>

<%# Render the form partial and pass the @product instance variable %>
<%= render "form", product: @product %>

<%# Link to cancel and go back to the product's show page %>
<%= link_to "Cancel", @product %>

<%= button_to "Delete", @product, method: :delete, data: {
    turbo_confirm: "Are you sure you want to delete this product?"
} %>